DTD/decision-tree.dtd

<!ELEMENT forest (tree+)>

<!ELEMENT tree (test+|output)>
<!ATTLIST tree test  CDATA #REQUIRED>
<!ATTLIST tree error CDATA #REQUIRED>

<!ELEMENT test (test+|output)>
<!ATTLIST test attribute CDATA #REQUIRED>
<!ATTLIST test operator  CDATA #REQUIRED>
<!ATTLIST test value     CDATA #REQUIRED>

<!ELEMENT output EMPTY>
<!ATTLIST output decision CDATA #REQUIRED>
