DTD/failure-patterns.dtd

<!ELEMENT patterns (test+)>

<!ELEMENT test (options, pattern+)>
<!ATTLIST test name ID #REQUIRED>

<!ELEMENT options (option+)>

<!ELEMENT pattern (option+)>
<!ATTLIST pattern result      CDATA #REQUIRED>
<!ATTLIST pattern probability CDATA #IMPLIED "1.0">

<!ELEMENT option (#PCDATA)>
<!ATTLIST option name CDATA #REQUIRED>
